<h1>Edit seu Livro!</h1>

<div class="container">
  <form action="" method="POST" class="form">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="Digite o Título" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="pageqty">Páginas:</label>
        <input type="number" name="pageqty" placeholder="Digite o número de páginas" value="{{book.pageqty}}">
    </div>
  <input type="submit" value="Editar" class="button">
  </form>
</div>